
.header_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav_menu{
    display: flex;
    gap: 40px;
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
}

.catalog{
    padding: 15px 30px;
    font-size: 16px;
    color: #FFFFFF;
    background: #339933;
    border-radius: 5px;
    border: none;
}

.icon_cart{
    font-size: 25px;
}

.cart{
    position: relative;
}

