.product_item {
    width: 320px;
}

.product_item_img {
    width: 319px;
    height: 276px;
}

.product_img_add_cart {
    position: relative;
    width: 319px;
    overflow: hidden;
}

.add_to_cart {
    position: absolute;
    transition: all 0.5s;
    left: 20px;
    bottom: -100%;
    width: 280px;
    height: 70px;
    background: #F1FFF1;
    border: 2px solid #339933;
    border-radius: 21px;
    font-size: 18px;
    color: #339933;
}

.product_item:hover .add_to_cart {
    bottom: 40px;
}

.add_to_cart:hover {
    color: #ffff;
    border: 2px solid #339933;
    background-color: #339933;
}

.product_item_price {
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.disc_pr {
    font-size: 30px;
}

.price {
    font-size: 20px;
}

.discont {
    font-size: 20px;
    color: #FF32A1;
}

.title {
    font-size: 16px;
}